@import url('opensans.css');

*{
	margin: 0;
	padding: 0;
	outline: 0!important;
	box-sizing: border-box;
}

label{
	cursor: pointer;
}

section, div{
	position: relative;
}

ins{
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

::-webkit-input-placeholder {
	font-size: 14px;
	color: #737272;
}
::moz-placeholder {
	font-size: 14px;
	color: #737272;
}
:ms-input-placeholder {
	font-size: 14px;
	color: #737272;
}
:moz-placeholder {
	font-size: 14px;
	color: #737272;
}

*:focus::-webkit-input-placeholder {
	color: transparent;
}

*:focus:::moz-placeholder {
	color: transparent;
}

*:focus:ms-input-placeholder {
	color: transparent;
}

*:focus:moz-placeholder {
	color: transparent;
}

.center{
	width: 1174px;
	margin: 0 auto;
}

body{
	background: url('../img/bg.jpg') no-repeat center top;
	font-family: 'OpenSans';
	color: #272727;
}
.wrapper{
	overflow: hidden;
}

header{
	background: #141414;
	padding: 16px 0 14px;
	position: fixed;
	left: 0; right: 0;
	top: 0;
	z-index: 98;
}

header .center{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

header nav a{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

header nav{
	margin-left: 125px;
	margin-top: 5px;
}

header nav a{
	margin-right: 60px;
	-webkit-transition: .2s;
	transition: .2s;
}

header nav a:hover{
	color: #efbc02;
}

.main_slider{
	margin-top: 190px;
	margin-bottom: 66px;
}

.main_slider ul{
	height: 763px;
	position: relative;
}

 .main_slider ul li{
 	position: absolute;
 	top: 0; bottom: 0;
 	left: 0; right: 0;
 	text-align: center;
 	opacity: 0;
 	-webkit-transition: 1s;
	transition: 1s;
 }

 .main_slider ul li img{
 	-webkit-transform: scale(0);
	transform: scale(0);
 }

 .main_slider ul li.active{
 	opacity: 1;
 	z-index: 1;
 }

.main_slider_text{
	position: absolute;
	top: 0; left: 0; right: 0;
	padding-top: 58px;
}

.main_slider_title{
	font-size: 120px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	-webkit-transform: translate(2000px);
	transform: translate(2000px);
}

.main_slider_desc{
	font-size: 18px;
	color: #fff;
	margin-top: 4px;
	-webkit-transform: translate(-2000px);
	transform: translate(-2000px);
}

.main_slider_price{
	font-size: 18px;
	color: #fff;
	margin-top: 23px;
	-webkit-transform: translate(-2000px);
	transform: translate(-2000px);
}

.main_slider_btn{
	display: inline-block;
	font-size: 14px;
	color: #fff;
	margin-top: 46px;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 30px;
	padding: 14px 17px 14px 0px;
	width: 151px;
	position: relative;
	-webkit-transition: .4s;
	transition: .4s;
	-webkit-transform: translate(-2000px);
	transform: translate(-2000px);
}

.main_slider ul li.active .main_slider_title{
	-webkit-transform: translate(0px);
	transform: translate(0px);
	-webkit-transition: 1s;
	transition: 1s;
}

.main_slider ul li.active .main_slider_desc{
	-webkit-transform: translate(0px);
	transform: translate(0px);
	-webkit-transition: 1s;
	transition: 1s;
}

.main_slider ul li.active .main_slider_price{
	-webkit-transform: translate(0px);
	transform: translate(0px);
	-webkit-transition: 1s;
	transition: 1s;
}

.main_slider ul li.active .main_slider_btn{
	-webkit-transform: translate(0px);
	transform: translate(0px);
	-webkit-transition: 1s;
	transition: 1s;
}

.main_slider ul li.active img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 1s;
	transition: 1s;
}

.main_slider_btn i{
	position: absolute;
	right: -24px;
	top: 0;
	width: 50px;
	height: 50px;
}

.main_slider_btn i:after{
	content: '';
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	border-radius: 50%;
	background: url('../img/ico1.png') no-repeat center #f5c618;
}

.main_slider_btn i:before{
	content: '';
	position: absolute;
	top: -5px; bottom: -5px;
	left: -5px; right: -5px;
	border-radius: 50%;
	background: rgba(245, 198, 24, 0.35);
	-webkit-transition: .4s;
	transition: .4s;
}

.main_slider_btn:hover{
	color: #f5c618;
	border-color: #f5c618;
}

.main_slider_btn:hover i:before{
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
	opacity: 0;
}

.main_slider_controls{
	position: absolute;
	right: 0; bottom: 0;
	z-index: 2;
}

.main_slider_controls_count{
	padding-bottom: 86px;
	width: 102px;
}

.main_slider_controls_count span{
	font-size: 64px;
}

.main_slider_controls_count ins{
	font-size: 16px;
}

.main_slider_controls_pags{
	padding-left: 37px;
	padding-bottom: 73px;
}

.main_slider_controls_pags span{
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	background: #252525;
	margin: 10px;
	cursor: pointer;
}

.main_slider_controls_pags span.active{
	background: #bdbdbd;
}

.main_slider_btns{
	height: 84px;
	padding-left: 24px;
}

.main_slider_btns button{
	width: 20px;
	height: 20px;
	background: transparent;
	border: 0;
	cursor: pointer;
	vertical-align: top;
}

.main_slider_btns button.prev{
	border-top: 1px solid #252525;
	border-left: 1px solid #252525;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.main_slider_btns button.next{
	border-top: 1px solid #252525;
	border-right: 1px solid #252525;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: 58px;
}

.main_slider_btns:after{
	content: '';
	position: absolute;
	left: 0;
	 right: 0;
	top: 39px;
	width: 90px;
	height: 1px;
	background: #252525;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.sale{
	padding-bottom: 85px;
}

.h2{
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.h2 span{
	color: #f4c415;
}

.h2:before{
	content: '';
	width: 56px;
	height: 2px;
	background: #f4c415;
	display: inline-block;
	vertical-align: top;
	margin-top: 29px;
	margin-right: 10px;
}

.h3{
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.h3 span{
	color: #f4c415;
}

.h3:before{
	content: '';
	width: 35px;
	height: 2px;
	background: #f4c415;
	display: inline-block;
	vertical-align: top;
	margin-top: 16px;
	margin-right: 10px;
}

.sale_block{
	margin-top: 50px;
}

.sale_block_left img{
	position: relative;
	left: -129px;
	z-index: 1;
}

.counter_sale{
	text-align: center;
	margin-top: 112px;
}

.sale_block_left{
	width: 554px;
	float: left;
}

.sale_block_left .soc{
	margin-top: 16px;
}

.counter_sale_title{
	font-size: 16px;
	text-transform: uppercase;
}

.counter_sale_title span{
	color: #2f3333;
}
.counter_sale_title p{
	display: inline;
	color: #cfcfcf;
}

.counter_sale_title p ins{
	color: #f4c415;
}

.counter_sale_title > *{
	margin: 0 5px;
}

.counter_sale_desc{
	font-size: 14px;
	color: #7b7b7b;
	margin-top: 10px;
}

.count_container{
	margin-top: 30px;
}

.clock-item{
	width: 86px;
	display: inline-block;
	margin: 0 5px;
}

.clock-canvas{
	width: 86px;
	height: 86px;
	border-radius: 50%;
}

.clock-canvas:after{
	content: '';
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	border-radius: 50%;
	border: 3px solid #e8e8e8;
	z-index: -1;
}

.clock-item .text{
	position: absolute;
	left: 0; right: 0;
	top: 0;
	padding-top: 17px;
}

.clock-item .text .val{
	font-size: 16px;
}

.clock-item .text .type-time{
	font-size: 16px;
	color: #7b7b7b;
	text-transform: uppercase;
}

.soc{
	text-align: center;
}

.soc a{
	display: inline-block;
	vertical-align: top;
	width: 36px;
	height: 36px;
	margin: 0 5px;
	background: #3e548f;
	border-radius: 50%;
	position: relative;
	-webkit-transition: .2s;
	transition: .2s;
}

.soc a img{
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
}

.soc a:hover{
	background: #f4c415;
	box-shadow: 0px 5px 7px rgba(0,0,0, .23);
}

.sale_block_right ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	list-style: none;
}

.sale_block_right ul li{
	width: 50%;
	border: 1px solid #f1f1f1;
	padding: 26px 26px 17px 26px;
	cursor: pointer;
	-webkit-transition: .4s;
	transition: .4s;
}

.sale_block_right_category{
	font-size: 14px;
	color: #3d65b1;
}

.sale_block_right_title{
	font-size: 16px;
	margin-top: 6px;
	letter-spacing: 0.5px;
}

.sale_block_right_price{
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 14px;
}

.sale_block_right_price span{
	color: #f4c415;
	margin-top: 3px;
}

.sale_block_right_img{
	margin-top: 18px;
}

.sale_block_right .soc{
	margin-top: 16px;
}

.sale_block_right .soc a{
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: 0s;
	transition: 0s;
}

.sale_block_right ul li:hover{
	box-shadow: 0px 0px 40px rgba(0,0,0, .19);
}

.sale_block_right ul li:hover .soc a:nth-child(1){
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s;
	transition: .2s;
}

.sale_block_right ul li:hover .soc a:nth-child(2){
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s;
	transition: .2s .1s;
}

.sale_block_right ul li:hover .soc a:nth-child(3){
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .6s;
	transition: .2s .2s;
}

.popular{
	background: #f5f5f5;
	padding-top: 94px;
	padding-bottom: 134px;
}

.popular_tab_btns{
	position: absolute;
	top: 8px; right: -11px;
}

.popular_tab_btns a{
	display: inline-block;
	margin-left: 23px;
	padding: 0 16px;
}

.popular_tab_btns a.active{
	border-bottom: 5px solid #f4c415;
}

.popular_all_tabs_block {
	margin-top: 50px;
}

.popular_all_tabs_block ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	list-style: none;
	position: absolute;
	left: -10000px;
}

.popular_all_tabs_block ul.active{
	position: relative;
	left: 0;
}
.popular_all_tabs_block ul.active li:nth-child(1){
	opacity: 1;
	-webkit-transition: .2s .1s opacity 4s box-shadow;
	transition: .2s .1s opacity 4s box-shadow;
}

.popular_all_tabs_block ul.active li:nth-child(2){
	opacity: 1;
	-webkit-transition: .2s .2s opacity 4s box-shadow;
	transition: .2s .2s opacity 4s box-shadow;
}

.popular_all_tabs_block ul.active li:nth-child(3){
	opacity: 1;
	-webkit-transition: .2s .3s opacity .4s box-shadow;
	transition: .2s .3s opacity 4s box-shadow;
}

.popular_all_tabs_block ul.active li:nth-child(4){
	opacity: 1;
	-webkit-transition: .2s .7s opacity 4s box-shadow;
	transition: .2s .7s opacity 4s box-shadow;
}

.popular_all_tabs_block ul.active li:nth-child(5){
	opacity: 1;
	-webkit-transition: .2s .6s opacity 4s box-shadow;
	transition: .2s .6s opacity 4s box-shadow;
}

.popular_all_tabs_block ul.active li:nth-child(6){
	opacity: 1;
	-webkit-transition: .2s .5s opacity 4s box-shadow;
	transition: .2s .5s opacity 4s box-shadow;
}

.popular_all_tabs_block ul.active li:nth-child(7){
	opacity: 1;
	-webkit-transition: .2s .4s opacity 4s box-shadow;
	transition: .2s .4s opacity 4s box-shadow;
}

.popular_all_tabs_block ul li{
	width: 25%;
	background: #fff;
	border: 1px solid #f1f1f1;
	padding: 26px 26px 35px 26px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	filter: alpha(opacity=);
	-webkit-transition: .4s;
	transition: .4s;
}

.popular_all_tabs_block ul li:first-child{
	width: 50%;
}

.popular_main_goods_left{
	width: 270px;
	float: left;
}

.popular_gallery_main{
	height: 270px;
}

.popular_gallery_main img{
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.popular_gallery_main img.active{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s;
	transition: .4s;
}

.popular_gallery_prev{
	margin-top: 16px;
}

.popular_gallery_prev span{
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 60px;
	height: 60px;
	margin-right: 20px;
}

.popular_gallery_prev span:after{
	content: '';
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	background: rgba(0,0,0, .2);

}

.popular_gallery_prev img{
	width: 60px;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
}

.popular_gallery_prev span.active:after{
	background: transparent;
	border: 2px solid #f4c415;
}

.popular_main_goods_right{
	overflow: hidden;
	padding-top: 58px;
	padding-right: 10px;
	padding-bottom: 20px;
}

.popular_goods_title{
	font-size: 16px;
}

.popular_goods_price{
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 10px;
}

.popular_goods_price span{
	color: #f4c415;
	margin-left: 3px;
}

.popular_goods_char{
	margin-top: 14px;
}

.popular_goods_char span{
	font-size: 14px;
	color: #7b7b7b;
	position: relative;
	display: block;
	padding-left: 14px;
	margin-bottom: 6px;
}

.popular_goods_char span:before{
	content: '';
	width: 6px;
	height: 6px;
	position: absolute;
	left: 0; top: 8px; 
	border-radius: 50%;
	background: #5b5d5d;
}

.popular_main_goods_right .soc{
	text-align: left;
	margin-top: 80px;
}

.popular_goods_desc{
	font-size: 14px;
	color: #7b7b7b;
}

.popular_goods_img{
	height: 270px;
}

.popular_goods_img img{
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
}

.popular_all_tabs_block ul li:hover{
	box-shadow: 0px 0px 40px rgba(0,0,0, .19);
	z-index: 1;
}

.black_section{
	height: 592px;
	background: #1b1b1b;
}

.black_section .center{
	height: 592px;
}
.black_section_circle{
	width: 894px;
	height: 592px;
	position: absolute;
	left: -258px; 
	top: 0px;
	overflow: hidden;
}

.black_section_circle:before{
	content: '';
	width: 894px;
	height: 894px;
	position: absolute;
	top: -164px; bottom: 0;
	left: 0; right: 0;
	background: repeating-radial-gradient(#1f1f1f, #1f1f1f 204px, #1a1a1a 204px, #1a1a1a 322px);
	border-radius: 50%;
}

.black_section_carousel{
	width: 468px;
	height: 592px;
	float: left;
}

.black_section_carousel ul{
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

.black_section_carousel ul li{
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

.black_section_carousel ul li.active .black_section_carousel_mainimg{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s;
	transition: .4s;
}

.black_section_carousel ul li.active .black_section_carousel_previmg span:nth-child(1){
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s;
	transition: .4s;
}

.black_section_carousel ul li.active .black_section_carousel_previmg span:nth-child(2){
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s .2s;
	transition: .4s .2s;
}

.black_section_carousel ul li.active .black_section_carousel_previmg span:nth-child(3){
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s .4s;
	transition: .4s .4s;
}

.black_section_carousel ul li.active{
	z-index: 1;
}

.black_section_carousel_mainimg{
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 90px;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.black_section_carousel_mainimg img{
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.black_section_carousel_mainimg img.active{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s;
	transition: .4s;}

.black_section_carousel_previmg{
	width: 70px;
	height: 300px;
	position: absolute;
	top: 0; bottom: 0;
	right: 0;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
   -webkit-box-align: center;
   -ms-flex-align: center; 
   align-items: center;
}

.black_section_carousel_previmg span{
	display: block;
	width: 70px;
	height: 70px;
	background: #fff;
	position: relative;
	cursor: pointer;
	border: 4px solid transparent;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: .4s;
	transition: .4s;}
}


.black_section_carousel_previmg span.active{
	border-color: #e8c434;
}

.black_section_carousel_previmg span img{
	width: 40px;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
}

.black_section_carousel button{
	width: 72px;
	height: 72px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	left: 146pxpx;
	border: 0;
	box-shadow: 0px 0px 13px rgba(2, 2, 2, 0.2);
	z-index: 3;
	cursor: pointer;
	-webkit-transition: .4s;
	transition: .4s;
}

.black_section_carousel button.prev{
	top: -36px;
}

.black_section_carousel button.prev:after{
	content: '';
	width: 16px;
	height: 16px;
	border-top: 1px solid #252525;
    border-left: 1px solid #252525;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
	top: 8px; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	-webkit-transition: .4s;
	transition: .4s;
}

.black_section_carousel button.next{
	bottom: -36px;
}


.black_section_carousel button.next:after{
	content: '';
	width: 16px;
	height: 16px;
	border-bottom: 1px solid #252525;
    border-right: 1px solid #252525;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
	top: 0; bottom: 8px;
	left: 0; right: 0;
	margin: auto;
	-webkit-transition: .4s;
	transition: .4s;
}

.black_section_carousel button:hover{
	background: #f5c618;
}

.black_section_carousel button:hover:after{
	border-color: #fff;
}

.black_section_carousel button:before{
	content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 50%;
    background: transparent;
    -webkit-transition: .4s;
    transition: .4s;
}

.black_section_carousel button:hover:before{
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
	background: rgba(245, 198, 24, 0.35);
	opacity: 0;
}

.black_section_right{
	overflow: hidden;
	padding: 83px 0 0 130px;
}

.black_section_right h2{
	color: #fff;
	margin-bottom: 25px;

}

.black_section_right p{
	font-size: 20px;
	color: #909090;
	margin-bottom: 15px;
}

.black_section_right ul{
	margin-top: 30px;
	list-style: none;
}

.black_section_right ul li{
	font-size: 16px;
	color: #909090;
	position: relative;
	padding-left: 16px;
	margin-bottom: 16px;
}

.black_section_right ul li:before{
	content: '';
	width: 6px;
	height: 6px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	left: 0; top: 8px;
}

.black_section_right .price{
	font-size: 20px;
    text-transform: uppercase;
    color: #909090;
    margin-top: 35px;
}

.black_section_right .price span{
	color: #fff;
}

.black_section_right .price ins{
	color: #f4c415;
}

.black_section_right .soc{
	text-align: left;
	margin-top: 35px;
}

.multi{
	padding-top: 126px;
}

.multi .center{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.multi ul{
	margin-top: 33px;
}

.multi ul li{
	overflow: hidden;
	position: relative;
	padding-left: 150px;
	-webkit-transition: .4s;
    transition: .4s;
}

.multi ul li:hover{
	box-shadow: 0px 0px 40px rgba(2, 2, 2, 0.19);
}

.multi ul li:hover .multi_text .multi_category{
	transform: translateY(-20px);
	-webkit-transition: .4s;
    transition: .4s;
}

.multi ul li:hover .multi_text .multi_title{
	transform: translateY(-20px);
	-webkit-transition: .4s;
    transition: .4s;
}

.multi ul li:hover .multi_text .multi_price{
	transform: translateY(-20px);
	-webkit-transition: .4s;
    transition: .4s;
}

.multi ul li:hover .multi_text .soc a:nth-child(1){
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s .3s;
    transition: .4s .3s;
}

.multi ul li:hover .multi_text .soc a:nth-child(2){
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s .4s;
    transition: .4s .4s;
}

.multi ul li:hover .multi_text .soc a:nth-child(3){
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s .5s;
    transition: .4s .5s;
}

.multi_block{
	width: 370px;
}

.multi_img{
	width: 150px;
	position: absolute;
	left: 0; top: 0; bottom: 0;
}

.multi_img img{
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;
}

.multi_text{
	padding-top: 34px;
	padding-bottom: 24px;
	overflow: hidden;
	-webkit-transition: .4s;
    transition: .4s;
}

.multi_category{
	font-size: 14px;
	color: #3d65b1;
	-webkit-transition: .4s;
    transition: .4s;
}

.multi_title{
	font-size: 16px;
	line-height: 22px;
	margin-top: 4px;
	-webkit-transition: .4s;
    transition: .4s;
}

.multi_price{
	font-size: 16px;
	color: #6f6f6f;
	text-transform: uppercase;
	-webkit-transition: .4s;
    transition: .4s;
}

.multi_price span{
	color: #f4c415;
	margin-top: 23px;
}

.multi_text .soc{
	text-align: left;
	margin-top: 10px;
}

.multi_text .soc a{
	-webkit-transform: scale(0);
	transform: scale(0);
}

.logos{
	border-top: 2px solid #dddddd;
	padding: 38px 0 28px;
}

.logos .center{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

footer{
	background: #242424;
	color: #fff;
	padding: 32px 0 32px;
}

footer .copy{
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
	letter-spacing: 0.3px;
}

.soc_btns{
	display: inline-block;
	vertical-align: top;
	margin-left: 38px;
}

.soc_btns a{
	display: inline-block;
	vertical-align: top;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background: #fff;
	position: relative;
	margin-right: 5px;
	-webkit-transition: .2s;
    transition: .2s;
}

.soc_btns a img{
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	-webkit-transition: .2s;
    transition: .2s;
}

.soc_btns a img:nth-child(1){
	opacity: 1;
}

.soc_btns a img:nth-child(2){
	opacity: 0;
}

.soc_btns a:hover{
	background: #f4c415;
}

.soc_btns a:hover img:nth-child(1){
	opacity: 0;
}

.soc_btns a:hover img:nth-child(2){
	opacity: 1;
}

.pays{
	float: right;
	margin-top: 2px;
}

.pays a{
	display: inline-block;
	vertical-align: top;
	width: 32px;
	height: 20px;
	border-radius: 50%;
	position: relative;
	margin-left: 6px;
	-webkit-transition: .2s;
    transition: .2s;
}

.pays a img{
	position: absolute;
	top: 0; bottom: 50px;
	left: 0; right: 0;
	margin: auto;
	-webkit-transition: .2s;
    transition: .2s;
}

.pays a img:nth-child(1){
	opacity: 1
}

.pays a img:nth-child(2){
	opacity: 0
}

.pays a:hover img:nth-child(1){
	opacity: 0
}

.pays a:hover img:nth-child(2){
	opacity: 1
}

.popup{
	width: 560px;
	height: 300px;
	background: #fff;
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	z-index: 100;
	display: none;
}

.popup_title{
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background: #252525;
	padding: 13px 0px;
}

.close{
	width: 22px;
	height: 22px;
	background: url(../img/close.png);
	position: absolute;
	right: 20px;
	top: 15px;
	z-index: 1;
	cursor: pointer;
}

.popup_img{
	width: 200px;
	position: absolute;
	left: 0; top: 0; bottom: 0;
}

.popup_img img{
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;
	max-width: 130px;
}

.popup_text{
	padding-top: 34px;
	padding-bottom: 24px;
	padding-left: 200px;
	overflow: hidden;
	-webkit-transition: .4s;
    transition: .4s;
}

.popup_category{
	font-size: 14px;
	color: #3d65b1;
	-webkit-transition: .4s;
    transition: .4s;
}

.popup_goodse_title{
	font-size: 16px;
	line-height: 22px;
	margin-top: 4px;
	-webkit-transition: .4s;
    transition: .4s;
}

.popup_price{
	font-size: 16px;
	color: #6f6f6f;
	text-transform: uppercase;
	-webkit-transition: .4s;
    transition: .4s;
}

.popup_price span{
	color: #f4c415;
	margin-top: 23px;
}
.popup_content{
	height: 244px;
}

.bg_popup{
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 99;
	display: none;
}

.popup form{
	margin-top: 24px;
}

.popup form input[type="text"]{
	width: 150px;
	height: 50px;
	border: 2px solid #000;
	border-radius: 50px;
	text-align: center;
	font-size: 14px;
	color: #828282;
}

.popup form button[type="submit"]{
	vertical-align: top;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 14px 17px 14px 0px;
    width: 151px;
    position: relative;
  	background: #252525;
  	color: #fff;
  	cursor: pointer;
  	margin-left: 10px;
  	-webkit-transition: .4s;
	transition: .4s;
}

.popup form button[type="submit"] i{
	position: absolute;
	right: -24px;
	top: -2px;
	width: 50px;
	height: 50px;
}

.popup form button[type="submit"] i:after{
	content: '';
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	border-radius: 50%;
	background: url('../img/ico1.png') no-repeat center #f5c618;
}

.popup form button[type="submit"] i:before{
	content: '';
	position: absolute;
	top: -5px; bottom: -5px;
	left: -5px; right: -5px;
	border-radius: 50%;
	background: rgba(245, 198, 24, 0.35);
	-webkit-transition: .4s;
	transition: .4s;
}

.popup form button[type="submit"]:hover{
	color: #f5c618;
	border-color: #f5c618;
	background: transparent;
}

.popup form button[type="submit"]:hover i:before{
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
	opacity: 0;
}











